<h1>Mario's</h1>
<h3>Fine Cuisine with a Smile</h3>
<h4>Contact Information</h4>
<ul>
  <li>Telephone: XXX-XXX-XXXX</li>
  <li>Email: xxxxxx@xxxx.com</li>
  <li>Address: 1234 Main St.</li>
</ul>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>


<p><%= link_to "Create new product", new_product_path %></p>
